# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Output
/notes/*.html
reports/*.html
/reports/*.html
reports/*.png
/reports/*.png
reports/*.jpg
/reports/*.jpg
reports/*.tiff
/reports/*.tiff
reports/*.eps
/reports/*.eps
reports/*.svg
/reports/*.svg
figures/*.png
/figures/*.png
figures/*.jpg
/figures/*.jpg
figures/*.tiff
/figures/*.tiff
figures/*.eps
/figures/*.eps
figures/*.svg
/figures/*.svg
/reports/*.docx
reports/*.docx
/data/*.csv
/data/correll_effects/*.csv
/data/darley_effects/*.csv
/data/loftus_effects/*.csv
/data/serota_effects/*.csv